body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f3f4f6;
    color: #333;
}

h1 {

    color: #1f2937;
}
table {
    border-collapse: collapse;
    width: 80%
}

th,
td {
    padding: 12px;
    border

th,
td {
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
    white-space: nowrap;
}

td:nth-child(10) {
    white-space: normal;
    max-width: 300px;
}

tr:hover {
    background-color: #eef2ff;
}
.table-container {
    overflow-x: auto;
}
.edit-icon {
    color: #198754;
    font-size: 18px;
    text-decoration: none;
    }

.edit-icon:hover {
    color: #146c43;
}

.delete-icon {
    color: #dc3545;
    font-size: 18px;
    text-decoration: none;
}
.new-icon {
color: #0d6efd;
font-size: 22px;
text-decoration: none;
}

.new-icon:hover {
color: #0a58ca;
}