{% extends "base.html" %}
{% block content %}
    <h2>Contact Form</h2>

    <form method="POST">
        {{ form.hidden_tag() }}

        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=40) }}
        </p>

        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=40) }}
        </p>

        <p>
            {{ form.message.label }}<br>
            {{ form.message(size=60) }}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
 {% endblock %}