{% extends "base.html" %}
{% block content %}
    {% if edit_mode %} Edit Message {% else %} Contact Form {% endif %}

    <form method="POST">
        {{ form.hidden_tag() }}

        <p>
            {{ form.name.label }}
            {{ form.name(size=40) }} {% for error in form.name.errors %} {{ error }} {% endfor %}
        </p>

        <p>
            {{ form.email.label }}
            {{ form.email(size=40) }} {% for error in form.email.errors %} {{ error }} {% endfor %}
        </p>

        <p>
            {{ form.message() }} {% for error in form.message.errors %} {{ error }} {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
 {% endblock %}