{% extends "base.html" %}

{% block content %}
    <h1>Departments ({{ count }})</h1>
    <p>
        <a href="/department/new" class="new-icon" title="Add Department"><i class="bi bi-plus-circle-fill"></i></a><b>Add new Department</b>
    </p>

<table id="contactsTable" class="datatable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for d in departments %}
        <tr>
            <td>{{ d[0] }}</td>
            <td>{{ d[1] }}</td>
            <td><a href="/department/edit/{{ d[0] }}" class="edit-icon"><i class="bi bi-pencil-square"></i></a></td>
            <td><a href="/department/delete/{{ d[0] }}"><i class="bi bi-trash"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}