{% extends "base.html" %}
{% block content %}

<form method="POST" action="/delete-messages">
    <h2>{{ count }} Messages recovered</h2>
    <table border="1" cellpadding="6">
        <tr>
            <th>Delete?</th>
            <!--<th>ID</th>-->
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
        </tr>

        {% for msg in messages %}
        <tr>
            <td>
                <input type="checkbox" name="delete_ids" value="{{ msg[0] }}">
            </td>
            <!--<td>{{ msg[0] }}</td>-->
            <td>{{ msg[1] }}</td>
            <td><a href="mailto:{{ msg[2] }}">{{ msg[2] }}</a></td>
            <td>{{ msg[3] }}</td>
        </tr>
        {% endfor %}
    </table>

    <p>
        <button type="submit">Delete Selected</button>
    </p>
</form>
{% endblock %}